.DisplayCouponForCustomer {
	font-size: 30px;
}

.DisplayCouponForCustomer h2{
    font-size: 40px;
}

.DisplayCouponForCustomer h3{
    font-size: 35px;
}

.DisplayCouponForCustomer img{
    width: 10%;
}